@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restanrants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <em class="glyphicon glyphicon-search"></em>
                </button>
            </span>
        </div>
    </div>
</form>

@* <table class="table">
    @foreach (var restaurant in @Model.Restaurants)
    {
    <tr>
    <td>@restaurant.Name</td>
    <td>@restaurant.Location</td>
    <td>@restaurant.CuisineType</td>
    <td>
    <a class="btn btn-info" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">Detail</a>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">Edit</a>
    <a class="btn btn-danger" asp-page="./Delete" asp-route-restaurantId="@restaurant.Id">Delete</a>
    </td>
    </tr>
    }
    </table> *@

@foreach (var Restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="Restaurant" />
}

<a class="btn btn-primary" asp-page="./Edit">Add New</a>

@section footer {
<vc:restaurant-count></vc:restaurant-count>
<div>@Model.Message</div>
}